@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this amazing online Library</h1>
    
    
</div>


<div class="imagen">
<img src="../wwwroot/images/Biblioteca.png" >

</div>