@page
@model LibreriaDigital.Pages.Autores.NuevoModel
@{
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form method="post" >
 
    <div class="mb-3">
        <label class="form-label" asp-for="AutorIng.Id">ID</label>
        <input class="asp-control" asp-for="AutorIng.Id"/>
        <span asp-validation-for="AutorIng.Id"></span>
    </div>
   <div class="form-group">
        <label class="form-label" asp-for="AutorIng.Nombre">Nombre</label>
        <input class="asp-control" asp-for="AutorIng.Nombre"/> 
        <span asp-validation-for="AutorIng.Nombre"></span>
    </div>
    <div>
        <label for="AutorIng.Nacionalidad">Nacionalidad</label>
        <input asp-for="AutorIng.Nacionalidad"/>
    </div>
    <div>
        <label for="AutorIng.Contemporaneo">Contemporaneo</label>
        <input asp-for="AutorIng.Contemporaneo"/>
    </div>
    <div class="form-group">
        <input class="form-control"  type="submit" value="Guardar">
    </div>
</form>

<a href="/Libros/Nuevo" class="btn btn-black">Cancelar</a>